@model GameDetailsApiResponse

@{
    ViewData["Title"] = "GameDetails";
}



    <div class="card mb-3 cardGameDetails">
        @if (Model.clip != null)
        {
            <video controls>
                <source src="@Model.clip.clip" type="video/mp4">
            </video>
        }
        else
        {
            <img  src="~/images/video-placeholder.jpg" />
        }

        <div class="card-body">
            <h5 class="card-title">@Model.name_original</h5>
            <p class="card-text">@Html.Raw(Model.description)</p>
        </div>
    </div>
