@{
    ViewData["Title"] = "Home Page";
}

    <h1 class="text-center">Welcome to Game Search website</h1>

    <form method="get" asp-controller="Home" asp-action="Search" >
        <div class="form-group">
            <label for="exampleInputEmail1">Game Search</label>
  <input type="text" name="title" class="form-control" id="gameSearch" aria-describedby="gameSearch" placeholder="Enter game name" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>