@model Game



<div class="card col-md-4">
    <img src="@(Model.background_image ?? "/images/placeholder.jpg")" class="card-img-top" alt="..." onerror="event.target.src = '/images/placeholder.jpg'">
    <div class="card-body">
        <h5 class="card-title">@Model.name</h5>
        <a asp-controller="Home" asp-action="GameDetails" asp-route-id="@Model.id" class="btn btn-primary">Details</a>
    </div>
</div>
