.card img {
    height: 200px;
    object-fit: cover;
}


.cardGameDetails img {
    height: auto;
    width: auto;
}

/*body {
    /*background: url(../images/websitebg2.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;*/
}

header {
    background-color: black !important;
    color: #fff;
}*/
